ion-page {
    justify-content: center;
}

ion-item {
    width: 80%;
    margin: auto;
    border-width: medium;
    border-style: solid;
    border-color: rgb(224, 206, 206);
    border-radius: 15px;
}