<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{action === 'update' ? 'Atualizar': 'Cadastrar'}} Tipo de Cozinha</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-label position="floating">{{action === 'update' ? 'Novo nome:': 'Nome:' }}</ion-label>
  <ion-input [(ngModel)]="name"
  [ngModelOptions]="{standalone: true}" [placeholder]="action === 'update' ? _tipo_cozinha.name: ''"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">{{action === 'update' ? 'Editar descrição:': 'Descricao:' }}</ion-label>
  <ion-input [(ngModel)]="descricao"
  [ngModelOptions]="{standalone: true}" [placeholder]="action === 'update' ? _tipo_cozinha.descricao: ''"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">{{action === 'update' ? 'Editar origem:': 'Origin:' }}</ion-label>
  <ion-input [(ngModel)]="origin"
  [ngModelOptions]="{standalone: true}" [placeholder]="action === 'update' ? _tipo_cozinha.origin: ''"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">{{action === 'update' ? 'Editar Exemplos:': 'Exemplos:' }}</ion-label>
  <ion-input [(ngModel)]="samples"
  [ngModelOptions]="{standalone: true}" [placeholder]="action === 'update' ? _tipo_cozinha.samples: ''"></ion-input>
</ion-item>
<ion-button expand="block" (click)="cadastrarTipoCozinha()">{{action === 'update' ? 'ATUALIZAR': 'CADASTRAR'}}</ion-button>